.contact {
  background: rgba(0, 0, 0, 0.9);
  height: 60vh;
  color: white;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-around;

}

.contact-title {
  color: white;
  font-weight: 600;
  /* margin: 5rem; */
  padding: 2rem;
}

form {
  display: flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

textarea, input, button { outline: none; }


.form-input {
  background: transparent !important;
  border: none;
  border-bottom: 1px solid white;
  width: 30vw;
  font-size: 1rem;
}

.button {
  width: 12rem;
  height: 3rem;
  background-color: rgb(140, 211, 140);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
  margin: 1rem;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.05)
}

.button-text {
  font-weight: 600;
  color: white;
  margin: 0;
}
