.header {
  height: 100vh;
  background: url('/assets/header.png');
  background-size: cover;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  color: rgba(255, 255, 255, 0.712);
  animation-duration: 3s;
  font-size: 2rem;
  margin-top: -10%;
  
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.509);
}


@media (max-width: 768px){
 

}