.navbar { 
  font-size: 16px;
}

.ant-menu-horizontal {
  border-bottom: none;
  box-shadow: 2px 2px 10px rgba(185, 185, 193, 0.404);
  display: flex; 
  justify-content: space-around;
  /* align-items: center; */
}

.nav-button {
  /* margin-left: 15px; */
  position: absolute;
  right: 0;
  margin: 5px;
}

.nav-button > * {
  margin-left: 15px;
}

.logo {
  height: 60px;
  margin: 5px;
}